# ---------------------------------------------------
# Telegram
# ---------------------------------------------------


# You can create a bot or get a token for an existing
# bot in the special @BotFather bot in Telegram,
# or go to the link https://t.me/BotFather

TELEGRAM_BOT_TOKEN=


# Your profile ID (bot owner). You can find it by
# sending a message to the special bot @ShowJsonBot,
# or by using the developer settings in the Telegram

TELEGRAM_BOT_OWNER_ID=


# Specify the chats where the message will be delivered.
# You can specify your own ID, or the ID of a group chat
# or channel
# 
# You can specify multiple IDs separated
# by commas: 123,456,789
# 
# NOTICE: For group chats and channels, the ID must start
# with -100, for example: -1005286129415

TELEGRAM_CHAT_ID=